 <% if params[:login]="no" %>
     <%= @message %>
   <%  end %>

<h1>Login</h1>

<%= form_tag create_session_url do %>
  <div class="field">
    <%= text_field_tag :email, "", placeholder: 'Enter Email' %>
  </div>
 <div class="field">
    <%= password_field_tag :password, "", placeholder: 'Enter Password' %>
  </div>
  <%= submit_tag "Login", class: "btn btn-primary" %>
<% end -%>
Don't have an account yet? <%= link_to "Sign up here", new_user_url  %>
