
<div><h1><%= @user.name %>'s Profile</h1></div>

  <%if @user.image.present? %>
 <div><%=image_tag @user.image, size: "200x200" %></div>
  <% end %>
  <div><%= @user.email %></div>







<%= link_to 'Change Password', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
