<p id="notice"><%= notice %></p>

<p>

 <h1> <%= @category.name %> </h1>
</p>


<% @category.items.each do |item| %>
<ul>
  <li>
    <div><%= item.name %></div>
    <div><%= item.story %></div>
    <div><%= item.user.name %></div>
    <div>$<%= item.price %></div>
  </li>
</ul>

<% end %>

<% if session[:email].present? && User.find_by_email(session[:email]).admin? %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<% end %>
