
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/slide-02.jpg" alt="" class="blur">
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @category.name %></h1>
              <p class="lead">1. Pick your style 2. Add trim 3. Checkout</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
 <div class="row">
    <% @category.items.each do |item| %>
      <div class="span3">
          <div><%=link_to (image_tag item.image, size: "200x200", class: "prod-circle"), item %></div>
           <h2><%=link_to item.name, item, class: "btn btn-primary btn-block"%></h2>
          <div><%=item.story%></div>
          <div><strong><%=number_to_currency( item.price) %></strong></div>

        <% if session[:email].present? %>
          <%= render 'buy_button', item: item %>
        <%else %>
          <%= link_to "Buy!", login_url, class: "btn btn-info" %>
        <% end %>
      </div>
    <% end %>
  </div><!-- /.row -->

  <%= render 'featurettes' %>

  <%= render 'footer' %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="holder.js"></script>
    <script src="hover.js"></script>


<% if session[:email].present? && User.find_by_email(session[:email]).admin? %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<% end %>
