<!DOCTYPE html>
<html>
<head>
  <title>Love2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <%= link_to "Users", users_url %>
   <%= link_to "Categories", categories_url %>
  <% if session[:email] %>
      <%= link_to "Logout", logout_url %>
      <%= link_to "My Profile", user_url(session[:user_id]) %>
  <% else -%>
      <%= link_to "Login", login_url %>
      <%= link_to "Sign Up", new_user_url %>
  <% end -%>

<%= notice %>

<%= yield %>

</body>
</html>
