<!DOCTYPE html>
<html>
<head>
  <title>Love2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>
    <%= link_to "Home", items_url %>
    <%= link_to "Users", users_url %>
    <%= link_to "Categories", categories_url %>
  <% if session[:email].present? %>
    <% @user = User.find_by_email(session[:email]) %>
    <%= link_to "My Profile", user_url(@user) %>
    <%= link_to "Logout", logout_url %>
  <% else %>
    <%= link_to "Login", login_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>

<div>
<%= notice %>
</div>
<%= yield %>

</body>
</html>
